# Gradle
.gradle/
build/
*/build/
app/build/
.gradle

# Node / browser test dependencies
node_modules/
dist/
dist_new/
SimpleSignal.exe
setup.exe

# Android Studio / IntelliJ IDEA
.idea/
*.iml
.navigation/

# Android SDK local settings
local.properties

# OS files
.DS_Store
Thumbs.db
*.log

# Android C++ build folder
SignalLM-Android/app/.cxx/
