# Dependencies
node_modules/

# Build output
dist/
build/

# Editor files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env